[[extend 'layout.html']]

<div class="section">
   <h1 class="title has-text-centered">Name of Game Here</h1>
   <div class="columns is-centered is-vcentered">
      <div class="column">
         <div class="has-text-centered">
            <div class="buttons is-centered">
               <a class="button is-warning" href="[[=URL('/index')]]">
                  <span>Play</span>
               </a>
            </div>
            <img src="http://127.0.0.1:8000/birds/static/images/Doodlebob.png" alt="Image">
         </div>
      </div>
   </div>
</div>