[[extend 'layout.html']]

<style>
    .column:hover {
        background-color: rgb(22, 161, 216);
    }
</style>
<div class="columns">
    <div class="column is-half has-text-centered">
        <a href="[[=URL('/index')]]">
            <h1 class="title">Draw Something</h1>
            <figure class="image is-square">
                <img src="http://127.0.0.1:8000/QuickDraw/static/images/Doodlebob.png" alt="Image">
            </figure>
        </a>
    </div>
    <div class="column is-half has-text-centered">
        <h1 class="title">Guess the Drawing</h1>
        <a href="[[=URL('wordGuess')]]">
            <figure class="image is-square">
                <img src="http://127.0.0.1:8000/QuickDraw/static/images/patrickThink.png" alt="Image">
            </figure>
        </a>
    </div>
</div>
