[[extend 'layout.html']]
<div class="section">
   <div class="columns">
      <div class="column">

         <body onload="main()">
            <canvas id="webgl" width="400" height="400">
               Please use a browser that supports "canvas"
            </canvas>

            <p>
               <button type="button" id="clear">Clear Canvas</button>
            </p>

            <p>
               <button type="button" id="pointButton">Squares</button>
               <button type="button" id="triglButton">Triangles</button>
               <button type="button" id="circlButton">Circles</button>
            </p>

            <p>
               Red<input type="range" min="0" max="100" value="100" class="slider" id="redSlide" />
               Green<input type="range" min="0" max="100" value="100" class="slider" id="greSlide" />
               Blue<input type="range" min="0" max="100" value="100" class="slider" id="bluSlide" />
            </p>

            <p>
               Shape Size:
               <input type="range" min="5" max="200" value="5" class="slider" id="sizeSlide" />
               (Circle) Segment Count:
               <input type="range" min="3" max="30" value="3" class="slider" id="segSlide" />
            </p>

         </body>
      </div>

      <div class="column" id="vue-target" v-cloak>
         <h1 class="title">Your Word:</h1>
            <div class="is-size-2"># {{ word.word }}</div>
         <p>
            <button @click="saveAndConfirm(word.word)">Save and confirm</button>
         </p>
      </div>

   </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="js/lib/webgl-utils.js"></script>
<script src="js/lib/webgl-debug.js"></script>
<script src="js/lib/cuon-utils.js"></script>
<script src="js/Triangle.js"></script>
<script src="js/Circle.js"></script>
<script src="js/Point.js"></script>
<script src="js/canvas.js"></script>
<script src="js/index.js"></script>